<div class="container-lg d-flex m-5 p-3">
   
        <mat-card class="example-card" style="padding-top: 2rem; background-color: #E0FF4F; color: grey;" >
          <!-- Probar link de la imagen https://acortar.link/hhmeVY   -->
          <img mat-card-image class="main-image" [src]="persona.fotofondo" alt="fondo">
          <img mat-card-avatar class="example-header-image" [src]="persona.fotoperfil" alt="fotodeperfil">
       
        
              <div id="bio" style="padding-top: 5rem;" >
                
                <p>¡Hola! Me llamo: {{persona.nombres}} {{persona.apellido}}</p>
                <p>Aspiro ser : {{persona.ocupacion}}</p>
                <p>Resido en: {{persona.ubicacion}}</p>
                <p class="ap" style="padding-top: 2rem;"> {{persona.acerca}}</p> 
                <p>Sean bienvenidas a mi portfolio. ¡Empecemos el recorrido!</p>
                  
                <div id="int" >
                  <img mat-card-avatar class="gif" >
                  
                </div>
                <a
                mat-raised-button
                color="primary"
                style="margin-left: 3.5rem; margin-top: .5rem;" [href]="persona.email"
              > Enviar email <i class="fa-solid fa-envelope" style="font-size: 1.3rem; color: white"></i> </a>
              <div class="recorrido" >
                
                <img
              src="https://media.giphy.com/media/Rdod7XvXQjzCVpiDnR/giphy.gif"
              width="160"
              height="80"
              class="flecha"
            />
            
              </div>


              </div>
      <div *ngIf="login">        
        <button class="icon edit btn btn-success"   (click)="abrirModal(persona.idpersona)" class="me-2">
          <a alt="Editar" title="Editar">
              <i class="bi bi-pencil-fill icons"></i>
          </a>
      </button>
      </div>
   </mat-card> 
</div>  
   
       








