


.container {
    padding: 10px;
  }
  
  .grid-item {
    background-color: #fae0e4;
    border-radius: 5px;
    padding: 5px;
    min-width: 5rem;
    height: 15rem;
    margin: 5px;
  }
.row{
  display: flex;
}