


.container {
    padding: 10px;
  }
  
  .grid-item {
    background-color: rgb(37, 34, 34);
    border-radius: 5px;
    padding: 5px;
    min-width: 5rem;
    height: 15rem;
    margin: auto;
  }
.row{
  display: flex;
}
.container-lg{
  border-radius: 20px;
  box-shadow: rgba(245, 244, 244, 0.35) 0px 5px 15px; 

}
#soft{
  background-color: #F25050;
 
  color: #F25050;
}

#hard{
  background-color: #04D9D9;

  color: #04D9D9;
}