
<!--<div>
  <div class="text-center" *ngIf="login">
    <button type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#redesForm" (click)="onNewRedes()">      

      <a class="nav-link" style="color: white;">
        Añadir redes <span class="sr-only">(current)</span>
      </a>
   </button>
  </div>

</div>
<mat-card class="example-card">
  <mat-card-subtitle>Despedida</mat-card-subtitle>
  <mat-card-title style="color: white;">Última parada</mat-card-title>
  <mat-card-content>
    <span>Agradezco que hayan llegado al final de mi recorrido.<br/>
      Para mantenernos en contacto éstas son mis redes sociales</span>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions *ngFor="let red of redesLista; let i = index">
   
    <button mat-mini-fab color="primary">
      <i class="bi bi-github" style="font-size: 1.3rem">{{red.github}}</i>
    </button> <br> 
    <button mat-mini-fab color="primary">
      <i class="bi bi-linkedin" style="font-size: 1.3rem">{{red.linkedin}}</i>
    </button> <br>
    <button mat-mini-fab color="primary">
      <i class="bi bi-instagram" style="font-size: 1.3rem">{{red.instagram}}</i>
    </button>
    
    <div style="float: right;" *ngIf="login">
      <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#redesForm" (click)="onEditRedes(i)">Editar</button>
     <button type="button" class="btn btn-primary" (click)="onDeleteRedes(i)">Borrar</button>
     
    </div>
  </mat-card-actions>

  <mat-card-footer >
    <span>Saludos y éxitos.</span>

    
  </mat-card-footer>
</mat-card>

<div>
  <a mat-raised-button color="primary" href="" class="animate__animated animate__headShake" style="float: right;">Volver a inicio</a>

</div>
  
<!--VIENDO MODALES


<div class="modal fade" id="redesForm" tabindex="-1" aria-labelledby="redesFormLabel" aria-hidden="true" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="redesFormLabel">Enlaces Web</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="redesForm" (ngSubmit)="onSubmit()">
          <input type="hidden" name="idredes" formControlName="idredes">

          <div class="row mb-3">
            <label for="github" class="col-sm-2 col-form-label">Modificar github:</label>
            <div class="col-sm-10">
              <input type="text" name="github" formControlName="github" class="form-control" required>
            </div>
          </div>

          <div class="row mb-3">
            <label for="linkedin" class="col-sm-2 col-form-label">Modificar linkedin:</label>
            <div class="col-sm-10">
              <input type="text" name="linkedin" formControlName="linkedin" class="form-control" required>
            </div>
          </div>

          <div class="row mb-3">
            <label for="instagram" class="col-sm-2 col-form-label">Modificar instagram:</label>
            <div class="col-sm-10">
              <input type="text" name="instagram" formControlName="instagram" class="form-control" required>
            </div>
          </div>

          <div class="text-center">
            <button type="button" class="btn btn-secondary me-4" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div>
  <div *ngFor="let red of redesLista; let i = index">
    <div class="actions" *ngIf="login">
     
      <a
        mat-button
        type="button"
        class="btn btn-primary"
        style="background-color: #99e284"
        data-bs-toggle="modal"
        data-bs-target="#redesForm"
        (click)="onEditRedes(i)"
        ><i class="fa-solid fa-pencil" style="font-size: 1.3rem; color: white"></i
      ></a>
     
    </div>
    <span style="padding-right: 1em"
      ><a [href]="red.github">
        <i class="bi bi-github" style="font-size: 1.3rem; color: white"></i></a
    ></span>
    <span style="padding-right: 1em">
      <a [href]="red.linkedin"
        ><i
          class="bi bi-linkedin"
          style="font-size: 1.3rem; color: white"
        ></i></a
    ></span>
    <span style="padding-right: 1em">
      <a [href]="red.instagram"
        ><i
          class="bi bi-instagram"
          style="font-size: 1.3rem; color: white"
        ></i></a
    ></span>
  </div>
</div>



  <footer style="background-color: #bfd200; text-align: center;">
<span >Portfolio de Marianela Gamarra - Argentina Programa -2022- Formosa, Argentina.</span>
  </footer>


  