<div class="container-lg">
<h1
  style="text-align: center; font-size: 5rem"
  class="animate__animated animate__flash"
>
 
</h1>
<div class="container">
  

  <div id="info404" style="text-align: center">
    <img src="../../assets/404.jpg" alt="error404"/>
    <h3>¡Ups! Al parecer has perdido el rumbo.</h3>
    <p>La página a la que quieres acceder no se encuentra disponible.</p>

    <a mat-raised-button style="background-color: #008083" href="" class="animate__animated animate__headShake">Volver a inicio</a>
  </div>
</div>
</div>