<hr style="color: solid white; font-weight: bold" />
<h1
  style="text-align: center; font-size: 5rem"
  class="animate__animated animate__flash"
>
  <b>404</b>
</h1>
<div class="container">
  <div id="img">
    <!--  <img src="https://i.imgur.com/doE6prW.png"  alt="imagen404">  https://i.imgur.com/cxyYAM6.jpeg"-->
  </div>

  <div id="info404" style="text-align: center">
    <img src="../../assets/404.jpg" />
    <h3>¡Ups! Al parecer has perdido el rumbo.</h3>
    <p>La página a la que quieres acceder no se encuentra disponible.</p>

    <a mat-raised-button color="primary" href="" class="animate__animated animate__headShake">Volver a inicio</a>
  </div>
</div>
